<h3> Admin Portal </h3>

<h4> Add a beer to inventory </h4>
<div class="well">
   <form>
     <div class="form-group row">
       <label class="col-xs-2 col-form-label">Brewery</label>
       <div class="col-xs-10">
         <input #newBrewery>
       </div>
     </div>

     <div class="form-group row">
       <label class="col-xs-2 col-form-label">Name</label>
       <div class="col-xs-10">
         <input #newName>
       </div>
     </div>

     <div class="form-group row">
       <label for="question" class="col-xs-2 col-form-label">Style</label>
       <div class="col-xs-10">
         <input #newStyle>
       </div>
     </div>

     <div class="form-group row">
       <label for="body" class="col-xs-2 col-form-label">Description</label>
       <div class="col-xs-10">
         <input #newDescription>
       </div>
     </div>

     <div class="form-group row">
       <label for="body" class="col-xs-2 col-form-label">Price</label>
       <div class="col-xs-10">
         <input #newPrice>
       </div>
     </div>
     <button type="button" class="btn btn-default" (click)="submitForm(newBrewery.value, newName.value, newStyle.value, newDescription.value, newPrice.value)">Add</button>
   </form>
 </div>
